{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Club</h1>

    <table class="table table-condensed">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ club.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ club.nombre }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ club.telefono }}</td>
        </tr>
        <tr>
            <th>Borrado</th>
            <td>{% if club.borrado %}Si{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('club_index') }}">Volver al Listado</a>
    <p>
        <a class="btn btn-primary" href="{{ path('club_edit', { 'id': club.id }) }}">Editar</a>

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Borrar">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}
